[submodule "libs/anim8"]
	path = libs/anim8
	url = https://github.com/kikito/anim8.git
[submodule "libs/clasp"]
	path = libs/clasp
	url = https://github.com/evolbug/lua-clasp.git
[submodule "libs/hump"]
	path = libs/hump
	url = https://github.com/vrld/hump.git
[submodule "libraries/bump"]
	path = libraries/bump
	url = https://github.com/kikito/bump.lua.git
